@model IEnumerable<Data.Model.Eleman>
@section Meta{
    <title>Personel Listesi</title>
}

@section Content {
    <h2 class="sub-header">Personel Listesi</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Ad) @Html.DisplayNameFor(model => model.Soyad)</th>
                    <th>@Html.DisplayNameFor(model => model.Eposta)</th>
                    <th>@Html.DisplayNameFor(model => model.Departman)</th>
                    <th>@Html.DisplayNameFor(model => model.Durum)</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Ad) @Html.DisplayFor(model => item.Soyad)</td>
                        <td>@Html.DisplayFor(model => item.Eposta)</td>
                        <td>@Html.DisplayFor(model => item.Departman.DepartmanAdi)</td>
                        <td>@Html.DisplayFor(model => item.Durum)</td>
                        <td>
                            @Html.ActionLink("Düzenle", "PersonelGuncelle", "Personel", new { Url = item.Url }, htmlAttributes: new { @class = "btndzn" })
                            @Html.ActionLink("Sil", "PersonelSil", "Personel", new { Url = item.Url }, htmlAttributes: new { @class = "btnsil" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}