@using Web.Helpers
@model Web.ViewModel.PersonelViewModel

@section Meta{
    <title>Personel Güncelle</title>
}

@section Content {
    <h2 class="sub-header">Personel Güncelle</h2>
    <div class="table-responsive projeform">
        @using (Html.BeginForm("PersonelGuncelle", "Personel", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <p>@Html.DisplayFor(model => model.Sonuc)</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Personel.Url)
            @Html.HiddenFor(model => model.Personel.Id)
            <ul class="form-style">
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Eposta)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.Eposta, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Sifre)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.Sifre, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Ad)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.Ad, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Soyad)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.Soyad, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Telefon)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.Telefon, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.DepartmanId)</div>
                    <div class="formtur">
                        @Html.DropDownListFor(model => model.Personel.DepartmanId, new SelectList(Model.Departmanlar, "Id", "DepartmanAdi"), "Departman Seçimi Yapınız !", htmlAttributes: new { @class = "formselect", @datasize = "100%" })
                    </div>
                </li>
                @{
                    var YoneticiRolId = Session["YoneticiRolId"].ToString();

                    if (YoneticiRolId == "1")
                    {
                        <li>
                            <div class="formbaslik">@Html.LabelFor(model => model.Personel.RolId)</div>
                            <div class="formtur">
                                @Html.DropDownListFor(model => model.Personel.RolId, new SelectList(Model.Roller, "Id", "RolAdi"), htmlAttributes: new { @class = "formselect", @datasize = "100%" })
                            </div>
                        </li>
                    }
                }
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.Durum)</div>
                    <div class="formtur">
                        @Html.EnumDropDownListFor(model => model.Personel.Durum, "Personel Durumu Seçiniz !", htmlAttributes: new { @class = "formselect", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.IzınGunSayisi)</div>
                    <div class="formtur">
                        @Html.TextBoxFor(model => model.Personel.IzınGunSayisi, htmlAttributes: new { @class = "forminput", @datasize = "100%" })
                    </div>
                </li>
                <li>
                    <div class="formbaslik">@Html.LabelFor(model => model.Personel.DurumAciklamasi)</div>
                    <div class="formtur">
                        @Html.TextAreaFor(model => model.Personel.DurumAciklamasi, htmlAttributes: new { @class = "formtext", @datasize = "100%" })
                    </div>
                </li>
                @{
                    <li>
                        <div class="formbaslik">@Html.LabelFor(model => model.Personel.AvatarResim)</div>
                        <div class="formtur">
                            @Html.PersonelGorselBase64Image(Model.Personel)
                            @Html.HiddenFor(model => model.Personel.AvatarResim)
                            @Html.HiddenFor(model => model.Personel.AvatarResimIsmi)
                            @Html.HiddenFor(model => model.Personel.AvatarResimTipi)
                            @if (Model.Personel.AvatarResim != null)
                            {
                                @Html.ActionLink("Görseli Kaldır", "AvatarGorselKaldir", "Personel", new { Url = Model.Personel.Url }, htmlAttributes: new { @class = "text-danger" })
                            }
                        </div>
                    </li>
                }
                <li>
                    <div class="formbaslik"></div>
                    <div class="formtur">
                        <input type="text" data-size="80%" class="fileUpload-1 fileUpload " readonly>
                        <input type="file" name="AvatarGorsel" class="fileUpload-1">
                        <span class="jqFileInput" data-rel="1">Gözat</span>
                    </div>
                </li>

                <li>
                    <div class="formtur">
                        <input type="submit" Value="Personel Güncelle" name="" class="formsend" id="" />
                    </div>
                </li>
            </ul>
                    }
    </div>
}